<div class="position-relative w-100 d-flex align-items-center my-1" style="height: 12px;">
  <div class="w-100 bg-dark" style="height: 1px;"></div>
  <div class="position-absolute end-0" style="width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 8px solid black;"></div>
</div>
